* {
	box-sizing: border-box;
}

html {
	border: 2px solid white;

}

body {
	background-color: midnightblue;
	font-family: 'Titillium Web', sans-serif;

}

.login{
	display: none;
}
h2,.userbutton{
	color: azure;
	margin: 0;
}

.container {
	height: 600px;
	width: auto;
	display: grid;
	grid-gap: 0;
	grid-template-columns: 175px 1fr 1fr;
	grid-template-rows: 1fr 4fr;
	grid-template-areas: "head head head" "menu notes notes";
}

.head {
	grid-area: head;
	font-size: 150%;
	display: grid;
	grid-template-columns: 1fr 3fr 3fr;
	grid-template-areas: "img header header";
}

.container .head img {
	grid-area: img;
	width: 175px;
	padding: 25px;
}

.header {
	grid-area: header;
	border: 1px solid white;
}

h1 {
	font-family: 'Merriweather', serif;
	text-align: center;
	color: azure;
	letter-spacing: 10px;
	margin-top: 8px;
	margin-bottom: 0;
}

.header ul {
	list-style-type: none;
	margin: 15px;
	padding: 0;
	float: right;
}

.menu {
	grid-area: menu;
	border: 1px solid white;
	align-content: center;
	text-align: center;
}

.menu h2 {
	text-align: center;
}

.menu ul {
	padding-left: 0px;
	list-style-type: none;
	width: 175px;
	text-align: center;
}
.menu ul li a{
	text-transform: uppercase;
	padding: 5px;
	display: block;
	text-decoration: none;
	font-size: 115%;
	color: aliceblue;
}
.menu ul li a:hover{
	background-color: lightblue;
	color: black;
}
.notes {
	grid-area: notes;
	border: 1px solid white;
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "mynotes info";
}

.mynotes {
	border: 1px solid white;
	grid-area: mynotes;
}
.hm{
	font-family: 'Titillium Web', sans-serif;
	font-size: 120%;
	color: black;
	background-color:aliceblue;
	width: 250px;
	border: none;
	cursor: pointer;
	margin-bottom: 2px;
	padding: 0;
}
.drop{
	position: relative;
	display: inline-block;
}
.dropdown{
	display: none;
	width: 250px;
	position: absolute;
	z-index: 1;
	text-align: left;
}
.dropdown a{
	color:azure;
	text-decoration: none;
	display: block;
}
.dropdown a:hover{
	background-color: lightblue;
	color: black;
}
.drop:hover .dropdown{
	display: block;
}

.drop .hm:hover{
	background-color: palevioletred;	
}
.notelist{
	background-color: snow;
	display: flex;
	justify-content: space-between;
}
.id{
	flex-grow: 1;
}
.title{
	flex-grow: 3;
}
.time{
	flex-grow: 1;
}
.info {
	border: 1px solid white;
	grid-area: info;
}

.all {
	border: 1px solid white;
	grid-area: all;
}

footer {
	border: 1px solid white;
	grid-area: foot;
}

#refresh,
#forward,
#backward,
#home {
	width: 35px;
	border: none;
}

#refresh:hover,
#forward:hover,
#backward:hover,
#home:hover {
	background-color: deepskyblue;
}

@media(min-width:600px) and (max-width: 700px) {
	.container {
		height: 1000px;
		grid-template-columns: 150px 1fr;
		grid-template-rows: 0.5fr 0.5fr 2fr;
		grid-template-areas: "head head" "menu menu" "notes notes";
	}
	.menu ul{
		width: auto;
	}
}

@media(min-width:475px) and (max-width: 599px) {
	.container {
		height: 1250px;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 5fr;
		grid-template-areas: "head" "menu" "notes";
	}
	.menu ul{
		width: auto;
	}
	.notes {
		grid-template-columns: 1fr;
		grid-template-areas: "mynotes" "info";
	}

}

@media (max-width:474px) {
	.container {
		height: 1500px;
		grid-template-rows: 1fr 1fr 5fr;
		grid-template-columns: 1fr;
		grid-template-areas: "head" "menu" "notes";
	}
	.head {
		grid-template-columns: 1fr;
		grid-template-areas: "img" "header";
	}
	.container .head img {
		margin: auto;
	}
	.menu ul{
		width: auto;
	}
	.notes {
		grid-template-columns: 1fr;
		grid-template-areas: "mynotes" "info";
	}
}
.hidden{
	display: none;
}