* {
	box-sizing: border-box;
}

body {
	background-color: midnightblue;
	font-family: 'Titillium Web', sans-serif;
}

.login {
	/*display: none;*/
	background-color: white;
	text-align: center;
	align-content:  center;
	height: 550px;
	background-image: url(Torni_hotelli.jpg);
	width: 100%;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	padding: 0;
	margin: 0;
}
.login h1{
	color: aliceblue;
	padding: 40px;
	margin-top: 0; 
	background-color: rgba(25, 25, 112, 0.3);
	width: auto;
	font-size: 300%;
	/*text-align: center;*/
}
.loginform{
	display: inline-block;
	height: 240px;
	width: 350px;
	padding: 40px;
	padding-top: 30px;
	margin-top: -20px;
	background-color: rgba(25, 25, 112, 0.9);
}
.loginform input{
	margin: 10px;
	height: 35px;
	width: 250px;
	text-align: center;
}
.loginform button{
	color: aliceblue;
	margin-top: 15px;
	background-color:rgba(0,191,255, 0.5);
	font-family: 'Titillium Web', sans-serif;
	width: 100px;
	height: 40px;
	font-size: 110%;
	border: 1px solid aliceblue;
	border-radius: 5px;
}
#wrong{
	font-size: 100%;
	margin-top: 10px;
}
h2,
.userbutton {
	color: azure;
	margin: 0;
}

.container {
	height: 600px;
	width: auto;
	display: none;
	/*display: grid;*/
	grid-gap: 0;
	grid-template-columns: 175px 1fr 1fr;
	grid-template-rows: 130px 1fr;
	grid-template-areas: "head head head" "menu notes notes";
}

.head {
	grid-area: head;
	border-bottom: 1px solid white;
	font-size: 150%;
	display: grid;
	grid-template-columns: 1fr 3fr 3fr;
	grid-template-areas: "img header header";
}

.container .head img {
	grid-area: img;
	width: 150px;
	padding: 10px;
}

.header {
	grid-area: header;
	padding: 0;
	margin: 0;
	height: 130px;
}

.header h1 {
	font-family: 'Merriweather', serif;
	text-align: center;
	color: azure;
	letter-spacing: 10px;
	margin-top: 8px;
	margin-bottom: 0;
}

.header ul {
	margin: 0;
	margin-top: 10px;

	list-style-type: none;
	float: right;
}

#search {
	width: 200px;
	height: 40px;
	border: 1px solid gray;
	border-radius: 3px;
	font-size: 80%; 
	/*background-image: url('search.png');
	background-size: 20px;
	background-position: 5px 5px;
	background-repeat: no-repeat;*/
	float: left;
	margin-top: 10px;
	margin-bottom: 5px;
}

.menu {
	height: 440px;
	grid-area: menu;
	align-content: center;
	text-align: center;
	margin-top: 40px;
}

.menu h2 {
	text-align: center;
}

.menu ul {
	padding-left: 0px;
	list-style-type: none;
	width: 175px;
	text-align: center;
}

.menu ul li a {
	text-transform: uppercase;
	padding: 5px;
	display: block;
	text-decoration: none;
	font-size: 115%;
	color: aliceblue;
}

.menu ul li a:hover {
	background-color: lightblue;
	color: black;
}

.notes {
	grid-area: notes;
	height: 480px;
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "mynotes info";
}

.mynotes {
	grid-area: mynotes;
}

.hm {
	font-family: 'Titillium Web', sans-serif;
	font-size: 120%;
	color: black;
	background-color: aliceblue;
	width: 150px;
	border: none;
	cursor: pointer;
	margin-bottom: 2px;
	padding: 0;
	margin-top: 2px;
}

.drop {
	position: relative;
	display: inline-block;
}

.dropdown {
	display: none;
	width: 150px;
	position: absolute;
	z-index: 1;
	text-align: left;
}

.dropdown a {
	color: azure;
	background-color: midnightblue;
	text-decoration: none;
	display: block;
}

.dropdown a:hover {
	background-color: lightblue;
	color: black;
	z-index: 2;
}

.drop:hover .dropdown {
	display: block;
	z-index: 3;
}

.drop .hm:hover {
	background-color: palevioletred;
}

.notelist {
	background-color: snow;
	display: grid;
	height: 445px;
	grid-template-columns: 1fr 3fr 1fr;
	grid-template-rows: 25px auto;
	grid-template-areas: "noteid title time" "list list list";
}

#noteid {
	grid-area: noteid;
	margin-left: -20px; 
	/*flex-grow: 1;*/
}

#listtitle {
	grid-area: title; 
	/*flex-grow: 3;*/
}

#time {
	grid-area: time;
	margin-right: 20px; 
	/*flex-grow: 1;*/
}

#list {
	text-align: left;
	grid-area: list;
	background-color: beige;
	overflow: auto;
	height: auto;
}

#list ul {
	background-color: midnightblue;
	padding: 0;
	margin: 0;
}

#list ul li {
	list-style: none;
	background-color: beige;
	margin-top: 2px;
}
#aid{
	text-align: right;
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	grid-template-areas: "lid ltitle ltime";
}
#lid{
	grid-area: lid;
}
#ltitle{
	grid-area: ltitle;
}
#ltime{
	grid-area: ltime;
}
.info {
	grid-area: info;
	margin-left: 5px;
	height: 450px;
}

#infoid, #informant, #timestamp {
	text-align: left;
	margin: 0;
}
<<<<<<< HEAD

=======
>>>>>>> 5dbecee19614eaecfa336470a7a000a690bdc01f

#description {
	text-align: left;
	margin: 0;
	height: 290px;
	overflow: auto;
}

.info button {
	float: right;
	width: 100px;
	height: 30px;
	color: midnightblue;
	border-radius: 4px;
	font-family: 'Titillium Web', sans-serif;
	margin-right: 5px;
	margin-top: 5px;
}

.all {
	border: 1px solid white;
	grid-area: all;
}

footer {
	border: 1px solid white;
	grid-area: foot;
}

#refresh,
#forward,
#backward,
#home {
	width: 45px;
	border: none;
}

#refresh:hover,
#forward:hover,
#backward:hover,
#home:hover {
	background-color: deepskyblue;
}

@media(min-width:600px) and (max-width: 700px) {
	.container {
		height: 1000px;
		grid-template-columns: 150px 1fr;
		grid-template-rows: 0.5fr 0.5fr 2fr;
		grid-template-areas: "head head" "menu menu" "notes notes";
	}
	.menu {
		margin: 0;
		height: auto;
		border-bottom: 1px solid white;
	}
	.menu ul {
		width: auto;
	}
	.notes {
		height: 580px;
	}
	#list {
		height: 520px;
	}
	#description {
		height: 350px;
	}

}

@media(min-width:475px) and (max-width: 599px) {
	.container {
		height: 1250px;
		grid-template-columns: 1fr;
		grid-template-rows: 130px 1fr 5fr;
		grid-template-areas: "head" "menu" "notes";
	}
	.menu {
		height: auto;
		margin: 0;
		border-bottom: 1px solid white;
	}
	.menu ul {
		width: auto;
	}
	.notes {
		grid-template-columns: 1fr;
		grid-template-areas: "mynotes" "info";
		height: 380px;
	}

	#list {
		height: 420px;
	}
	#description {
		height: 240px;
	}

}

@media (max-width:474px) {
	.container {
		height: 1500px;
		grid-template-rows: 1fr 1fr 5fr;
		grid-template-columns: 1fr;
		grid-template-areas: "head" "menu" "notes";
	}
	.head {
		grid-template-columns: 1fr;
		grid-template-areas: "img" "header";
	}
	.container .head img {
		margin: auto;
	}
	.menu {
		margin: 0;
		height: auto;
		border-bottom: 1px solid white;
	}
	.menu ul {
		width: auto;
	}
	.notes {
		grid-template-columns: 1fr;
		grid-template-areas: "mynotes" "info";
		height: 360px;
	}

	#description {
		height: 370px;
	}
}
p, .radio {
	color: azure;
}

.add,
.settings {
	text-align: center;
}
.manage {
	display : grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: "adduser edituser deleteuser";
}

.management .adduser {
	grid-area: adduser;
}

.management .edituser {
	grid-area: edituser;
}

.management .deleteuser {
	grid-area: deleteuser;
}

.hidden {
	display: none;
}
